global
    log                 127.0.0.1 local2 info

    chroot              /var/lib/haproxy
    pidfile             /var/run/haproxy.pid
    stats socket        /var/run/haproxy.sock mode 666 level admin
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    stats socket /var/lib/haproxy/stats

defaults
    mode                    http
    log                     global
    option                  forwardfor
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

listen stats
    bind :::8888 v4v6
    mode http
    stats enable
    stats hide-version
    stats uri /
    stats realm Haproxy\ Statistics

frontend main
    bind :::80 v4v6
    option                      http-server-close
    use_backend                 http
    default_backend             http

backend default
    balance     roundrobin
    server  home1 192.168.0.157:30001 check